.add-cart-button {
    width: 100%;
    height: 4rem;
    background-color: #FFBC6C;
    color: white;
    border: none;
    position: fixed;
    bottom: 0;
    font-family: 'dm sans';
    font-size: 1.6rem;
}