@media(max-width: 420px) {
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 3.8rem;
        color: #fff;
        background-color: transparent;
        border: none;
    }

    .item-menu {
        width: 50vw;
        min-height: 20px;
        background-color: brown;
    }

    .drawer-menu {
        display: flex;
    }
}
